<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/attribution.js" integrity="sha256-1lIkxUOvLmxpfk9lU7gVv7Ul1At64CimZ6WahU7aMIw=" crossorigin="anonymous"></script>

<script>
    // Used to prevent flashing light mode.
    (() => {
        if (halfmoon.getPreferredMode() === "not-set") {
            const mode = window.matchMedia("(prefers-color-scheme: dark)");
            if (mode.matches) {
                halfmoon.toggleDarkMode();
            }
        }
    })();
</script>