<link rel="icon" type="image/png" href="/static/favicon.ico?v=1" />
{{ if .Analytics }}
{{ template "_analytics.html" }}
{{ end }}
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="twitter:image:src" content="https://doc.crds.dev/static/twitter.jpg" />
<meta name="twitter:site" content="@crdsdev" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Doc" />
<meta name="twitter:description" content="Automatic documentation for your CustomResourceDefinitions." />
<!-- hello -->