<!doctype html>
<html>

<head>
    <title>Doc</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico?v=1" />
    {{ if .Analytics}}
    {{ template "analytics" }}
    {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h1><a href="/github.com/{{ .Repo }}{{ .At }}{{ .Tag }}">{{ .Repo }}{{ .At }}{{ .Tag }}</a></h1>
        <h3><span class="label label-primary">Group</span> <code>{{ .Group }}</code></h3>
        <h3><span class="label label-primary">Version</span> <code>{{ .Version }}</code></h3>
        <h3><span class="label label-primary">Kind</span> <code>{{ .Kind }}</code></h3>
        <h3>{{ .Description }}</h3>
        <hr />
        <div class="panel-group" id="accordion">
            {{ if gt (len .Schema.Properties) 0}}
            {{ template "field" (plusParent "" .Schema.Properties) }}
            {{ end }}
        </div>
    </div>

    <script>
        function copyLink(identifier) {
                var copyText = window.location.href.split('#')[0] + "#" + identifier;
                var el = document.createElement('textarea');
                el.value = copyText;
                el.setAttribute('readonly', '');
                el.style = { position: 'absolute', left: '-9999px' };
                document.body.appendChild(el);
                el.select();
                document.execCommand('copy');
                document.body.removeChild(el);
            }
    </script>

</body>

</html>

{{define "field"}}
{{ $parent := .Parent }}
{{ range $key, $value := .Schema }}
{{ $identifier := $key }}
{{if ne $parent ""}}
{{ $identifier = (print $parent "-" $key)}} 
{{ end }}
<div id="{{ $identifier }}" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href='#{{ print "collapse" $identifier }}'>{{ $key }}</a>
            <span onclick='copyLink("{{ $identifier}}")' class="glyphicon glyphicon-link" aria-hidden="true" style="float: right; cursor: pointer;"></span>
        </h4>
    </div>
    <div id='{{ print "collapse" $identifier }}' class="panel-collapse collapse in">
        <div class="panel-body">
            <p>{{ $value.Description }}</p>
            <p><span class="label label-primary">Type</span> <code>{{ $value.Type }}</code></p>
            {{ if gt (len $value.Required) 0}}
                <p>
                    <span class="label label-primary">Required Fields</span>
                    {{ range $req := $value.Required }}
                        <code>{{ $req }}</code>
                    {{ end }}
                </p>
            {{ end }}
            {{ if $value.Enum }}
            <p><span class="label label-primary">Permitted Values</span> <code>{{ $value.Enum }}</code></p>
            {{ end }}
            {{ if $value.Minimum }}
            <p><span class="label label-primary">Permitted Values</span> <code>{{ $value.Minimum }}</code></p>
            {{ end }}
            {{ if $value.Maximum }}
            <p><span class="label label-primary">Permitted Values</span> <code>{{ $value.Maximum }}</code></p>
            {{ end }}
            {{ if gt (len $value.Properties) 0 }}
                {{ template "field" (plusParent $identifier $value.Properties) }}
            {{ end }}
            {{ if $value.AdditionalProperties }}
                {{ if $value.AdditionalProperties.Allows }}
                    <p><b>AdditionalProperties allowed.</b></p>
                {{ end }}
                {{ if $value.AdditionalProperties.Schema }}
                    <p>{{ $value.AdditionalProperties.Schema.Description }}</p>
                    <p><span class="label label-primary">Type</span> <code>{{ $value.AdditionalProperties.Schema.Type }}</code></p>
                    {{ if gt (len $value.AdditionalProperties.Schema.Properties) 0}}
                        {{ template "field" (plusParent $identifier $value.AdditionalProperties.Schema.Properties) }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ if $value.Items }}
                {{ if $value.Items.Schema }}
                    <p>{{ $value.Items.Schema.Description }}</p>
                    <p><span class="label label-primary">Type</span> <code>{{ $value.Items.Schema.Type }}</code></p>
                    {{ if gt (len $value.Items.Schema.Properties) 0}}
                        {{ template "field" (plusParent $identifier $value.Items.Schema.Properties) }}
                    {{ end }}
                {{ end }}
                {{ if $value.Items.JSONSchemas }}
                    {{ if gt ($value.Items.JSONSchemas) 0 }}
                        {{ template "field" (plusParent $identifier $value.Items.JSONSchemas) }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{end}}