<style>
    .crd-label .crd-type,
    .crd-label .crd-value {
        display: inline-block
    }
</style>
<div class="content-wrapper">
    <div class="container">
    </div>
</div>

{{ template "_scripts" . }}
<script src="https://unpkg.com/marked@1.2.4/marked.min.js"></script>
<script src="https://unpkg.com/dompurify@2.2.2/dist/purify.js"></script>
<script src="https://unpkg.com/eventemitter3@4.0.7/umd/eventemitter3.min.js"></script>
<script src="https://unpkg.com/slugify@1.4.6/slugify.js"></script>
<script src="https://unpkg.com/clipboard@2.0.6/dist/clipboard.min.js"></script>
<script id="pageData" type="application/json">
    {{ . }}
</script>
<script type="module">
    const { render } = ReactDOM;
    const { useMemo, useState, useEffect, useCallback } = React;
    const { html } = htmReact;
    const bus = new EventEmitter3();
    window.bus = bus;

    const clipboard = new ClipboardJS('.copy-url');
    clipboard.on('success', e => {
        halfmoon.initStickyAlert({
            content: "Copied Link!",
            timeShown: 2000
        })
    });

    marked.use({
        renderer: {
            code: (code, lang, escaped) => {
                const tokenizedCode = window.Prism ? Prism.highlight(code, Prism.languages[lang], lang) : `${code}`;
                return `<pre class="language-${lang}"><code class="language-${lang}">${tokenizedCode}</code></pre>`;
            }
        }
    })

    const { Kind, Group, Version, Schema } = JSON.parse(document.getElementById('pageData').textContent);

    const properties = Schema.Properties;
    if (properties?.apiVersion) delete properties.apiVersion;
    if (properties?.kind) delete properties.kind;
    if (properties?.metadata?.Type == "object") delete properties.metadata;

    function getDescription(schema) {
        let desc = schema.Description || '';
        if (desc.trim() == '') {
            desc = '_No Description Provided._'
        }
        return DOMPurify.sanitize(marked(desc));
    }

    function CRD() {
        const expandAll = useCallback(() => bus.emit('expand-all'), []);
        const collapseAll = useCallback(() => bus.emit('collapse-all'), []);
        return html`
            <div class="parts d-md-flex justify-content-between mt-md-20 mb-md-20">
                <${PartLabel} type="Kind" value=${Kind} />
                <${PartLabel} type="Group" value=${Group} />
                <${PartLabel} type="Version" value=${Version} />
            </div>

            <hr class="mb-md-20" />
            <pre><code class="language-yaml">${`apiVersion: ${Group}/${Version}\nkind: ${Kind}`}</code></pre>

            <p class="font-size-18">${React.createElement('div', { dangerouslySetInnerHTML: { __html: getDescription(Schema) } })}</p>

            <div class="${properties == null ? 'd-none' : 'd-flex'} flex-row-reverse mb-10 mt-10">
                <button class="btn ml-10" type="button" onClick=${expandAll}>+ expand all</button>
                <button class="btn" type="button" onClick=${collapseAll}>- collapse all</button>
            </div>
            <div class="collapse-group">
                ${properties != null
                ? Object.keys(properties).map(prop => SchemaPart({ key: prop, property: properties[prop] }))
                : html`
                    <p class="font-size-18">
                        This CRD has an empty or unspecified schema.
                    </p>
                    `
            }
            </div>
        `;
    }

    function SchemaPart({ key, property, parent, parentSlug }) {
        const [props, propKeys, required, type, schema] = useMemo(() => {
            let schema = property;
            let props = property.Properties || {};

            let type = property.Type;
            if (type === 'array') {
                const itemsSchema = property.Items.Schema;
                if (itemsSchema.Type !== 'object') {
                    type = `[]${itemsSchema.Type}`;
                } else {
                    schema = itemsSchema;
                    props = itemsSchema.Properties || {};
                    type = `[]object`;
                }
            }
            let propKeys = Object.keys(props);

            let required = false;
            if (parent && parent.Required && parent.Required.includes(key)) {
                required = true;
            }
            return [props, propKeys, required, type, schema]
        }, [parent, property]);

        const slug = useMemo(() => slugify((parentSlug ? `${parentSlug}-` : '') + key), [parentSlug, key]);
        const fullLink = useMemo(() => {
            const url = new URL(location.href);
            url.hash = `#${slug}`;
            return url.toJSON();
        });
        const isHyperlinked = useCallback(() => location.hash.substring(1).startsWith(slug), [slug]);

        const [isOpen, setIsOpen] = useState((key == "spec" && !parent) || isHyperlinked());

        useEffect(() => {
            const handleHashChange = () => {
                if (!isOpen && isHyperlinked()) {
                    setIsOpen(true);
                }
            };
            window.addEventListener('hashchange', handleHashChange);
            return () => window.removeEventListener('hashchange', handleHashChange);
        }, [isOpen]);

        useEffect(() => {
            const collapse = () => setIsOpen(false);
            const expand = () => setIsOpen(true);
            bus.on('collapse-all', collapse);
            bus.on('expand-all', expand);
            return () => {
                bus.off('collapse-all', collapse);
                bus.off('expand-all', expand);
            };
        }, []);

        return html`
        <details class="collapse-panel" open="${isOpen}" onToggle=${e => { setIsOpen(e.target.open); e.stopPropagation(); }}>
            <summary class="collapse-header position-relative">
                ${key} <kbd class="text-muted">${type}</kbd> ${required ? html`<span class="badge badge-primary">required</span>` : ''}
                <button class="btn btn-sm position-absolute right-0 top-0 m-5 copy-url z-10" type="button" data-clipboard-text="${fullLink}">🔗</button>
            </summary>
            <div id="${slug}" class="collapse-content">
                ${React.createElement("div", { className: 'property-description', dangerouslySetInnerHTML: { __html: getDescription(property) } })}
                ${propKeys.length > 0 ? html`<br />` : ''}
                <div class="collapse-group">
                ${propKeys
                .map(propKey => SchemaPart({
                    parent: schema, parentKey: key, key: propKey, property: props[propKey], parentSlug: slug
                }))}
                </div>
            </div>
        </details>`;
    }

    function PartLabel({ type, value }) {
        return html`
        <div class="mt-10">
            <span class="font-weight-semibold font-size-24">${value}</span>
            <br />
            <span class="badge text-muted font-size-12">${type}</span>
        </div>`;
    }

    render(html`<${CRD} />`, document.querySelector('.container'));
</script>
<script defer src="https://unpkg.com/prismjs@1/components/prism-core.min.js"></script>
<script defer src="https://unpkg.com/prismjs@1/plugins/autoloader/prism-autoloader.min.js"></script>
<style>
    /* Remove extra whitespace introduced by markdown translation */
    .property-description>p {
        margin: 0;
    }
</style>