<!doctype html>
<html>

<head>
    <title>Doc</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico?v=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: black;
        }
        h2, a {
            color: white;
        }
        a {
            text-decoration: underline;
            text-decoration-style: solid;
        }
        a:hover {
            color: blue;
        }
    </style>
</head>

<body>

    <div class="container">
        <h2>Oops! Looks like we haven't indexed this repo yet. Feel free to <a
                href="https://github.com/crdsdev/doc/issues/new">open an issue</a> and let us know you would like
            to be included!</h2>
    </div>

</body>

</html>