<!doctype html>
<html>

<head>
    <title>Doc</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico?v=1" />
    {{ if .Analytics}}
    {{ template "analytics" }}
    {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h1><a href="/github.com/{{ .Repo }}{{ .At }}{{ .Tag }}">{{ .Repo }}{{ .At }}{{ .Tag }}</a></h1>
        {{ if .Tag }}
            <a href="https://github.com/{{ .Repo }}/tree/{{ .Tag }}"><span class="label label-primary">github.com/{{ .Repo }}/tree/{{ .Tag }}</span></a>
        {{ else }}
            <a href="https://github.com/{{ .Repo }}/tree/master"><span class="label label-primary">github.com/{{ .Repo }}/tree/master</span></a>
        {{ end }}
        <h3>CRDs discovered: <b>{{ .Total }}</b></h3>
        <div class="table-responsive">
            <table class="table">
                {{ range $path, $name := .CRDs }}
                <tr><td><a href="/github.com/{{ $.Repo }}/{{ $path }}{{ $.At }}{{ $.Tag }}">{{ $name }}</a></td></tr>
                {{ end }}
            </table>
        </div>
    </div>

</body>

</html>