<div class="content-wrapper">
    <div class="container">
        <div class="content">
            <h1><a href="/{{ .Server }}/{{ .Repo }}@{{ .Tag }}">{{ .Repo }}@{{ .Tag }}</a></h1>
            {{ if .Tag }}
                <a href="https://{{ .Server }}/{{ .Repo }}/tree/{{ .Tag }}"><span class="label label-primary">{{ .Server }}/{{ .Repo }}/tree/{{ .Tag }}</span></a>
            {{ else }}
                <a href="https://{{ .Server }}/{{ .Repo }}/tree/master"><span class="label label-primary">{{ .Server }}/{{ .Repo }}/tree/master</span></a>
            {{ end }}
        </div>
        <select class="form-control w-md-400 w-sm-full mb-md-10 mb-5" onchange="handleSelect(this)">
            {{ $actual := .Tag }}{{ $server := .Server }}{{ $repo := .Repo }}{{ range $name := .Tags }}
                {{ if eq $name $actual }}
                <option value="/{{ $server }}/{{ $repo }}@{{ $name }}" selected="selected">{{ $name }}</option>
                {{ else }}
                <option value="/{{ $server }}/{{ $repo }}@{{ $name }}" >{{ $name }}</option>
                {{ end }}
            {{ end }}
          </select>
        <p>CRDs discovered: <b>{{ .Total }}</b></p>
        <div id="crds"></div>
    </div>
</div>

{{ template "_scripts" . }}
<script type="text/javascript">
    function handleSelect(elm)
    {
       window.location = elm.value;
    }
  </script>
<script src="https://unpkg.com/react-table@7/dist/react-table.production.min.js"></script>
<script type="module">
    import { formatRelative } from 'https://cdn.jsdelivr.net/npm/date-fns/+esm';

    const { render } = ReactDOM;
    const { html } = htmReact;
    const { useTable, useSortBy, useGlobalFilter  } = ReactTable;

    const { Server, Repo, CRDs, Tag, At, } = JSON.parse(`{{ . }}`);
    const data = Object.keys(CRDs).map(key => CRDs[key]);

    const columns = [
        {
            Header: 'Kind',
            accessor: 'Kind',
            Cell: ({ row: { original }, value }) => html`<a href=${`/${Server}/${Repo}/${original.Group}/${original.Kind}/${original.Version}@${Tag}`}>${value}</a>`
        },
        {
            Header: 'Group',
            accessor: 'Group'
        },
        {
            Header: 'Version',
            accessor: 'Version'
        }
    ];

    function CRDHeader(column) {
        return html`<th ...${column.getHeaderProps(column.getSortByToggleProps())}>
        ${column.render('Header')}
            <span class="sort-header ${column.isSorted ? 'sort-header-active' : ''}">
            ${(column.isSorted
                ? column.isSortedDesc
                    ? html`<i class="fas fa-sort-down"></i>`
                    : html`<i class="fas fa-sort-up"></i>`
                : html`<i class="fas fa-sort"></i>`)}
            </span>
        </th>`
    }

    function CRDTable() {
        const table = useTable({ columns, data }, useSortBy, useGlobalFilter);
         const {
            getTableProps,
            getTableBodyProps,
            headerGroups,
            rows,
            prepareRow,
            setGlobalFilter,
            state: { globalFilter }
        } = table;

        return html`
        <form class="form-inline w-md-400 w-sm-full mb-md-10 mb-5" onSubmit=${e => e.preventDefault}>
            <input type="search" class="form-control" placeholder="e.g. CacheCluster, acm.aws" onInput=${e => setGlobalFilter(e.target.value)} value=${globalFilter}></input>
        </form>
        <div class="table-responsive">
            <table class="table table-striped table-outer-bordered" ...${getTableProps()}>
                <thead>
                    ${headerGroups.map(group => html`
                    <tr ...${group.getHeaderGroupProps()}>
                        ${group.headers.map(CRDHeader)}
                    </tr>
                    `)}
                </thead>
                <tbody ...${getTableBodyProps()}>
                    ${rows.map(row => {
                        prepareRow(row)
                        return html`
                        <tr ...${row.getRowProps()}>
                            ${row.cells.map(cell => html`
                            <td ...${cell.getCellProps()}>${cell.render('Cell')}</td>
                            `)}
                        </tr>
                        `
                    })}
                </tbody>
            </table>
        </div>`;
    }

    render(html`<${CRDTable} />`, document.getElementById("crds"));
</script>
<style>
    #crds .sort-header {
        margin-left: 1rem;
    }

    #crds .sort-header:not(.sort-header-active) {
        opacity: 0.5;
    }
</style>